{% extends "base.html" %}
{% block content %}

<section class="section">
    <div class="container">
        <div class="box">
            <h1 class="title">{{ card.issuer }} {{ card.name }}</h1>
            <p>Base rate: {{ card.base_rate }}</p>
            {% for category in card.category.all %}
            <ul>
                <li>{{ category.get_category_display }} - {{ category.rate }}</li>
            </ul>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock content %}